<!DOCTYPE html>
<!--[if IE 8]> <html lang="zh" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="zh" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <title>dubbo监控中心</title>
    #parse("common/head.html")
</head>

<body class="page-header-fixed page-sidebar-closed-hide-logo " style="overflow-x: hidden;">
<!-- BEGIN HEADER -->
    #parse("common/navbar.html")
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container ">
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper ">

    </div>
    <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
    #parse("common/footer.html")
</body>
<!-- END BODY -->
</html>